@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --ink-black: #000000;
    --ika-purple: #575068;
    --ina-orange: #f29a30;
    --inai-purple: #e1d8ef;

    color-scheme: dark;
}

body{
    background-color: var(--ika-purple);
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--ink-black);
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 80vw;
    width: 50rem; /* 67.5rem */
    padding-bottom: 2rem;
}
.container > * {
    width: 100%;
    margin-top: 8px;
    margin-bottom: 8px;
}

h1{
    font-weight: normal;
    font-style: italic;
    font-size: 36px;
    margin-top: 0;
    margin-bottom: .2em;
}

/*  sections  */

.section{
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, .25);
    border-radius: 8px;
}

#header {
    user-select: none;
    padding-top: 10vmin;
}

#video_select{
    margin-top: 0;
    border-radius: 0 0 8px 8px;
    z-index: 1;
    border: none !important;
    overflow: hidden;
    display: flex;
}

#video_select *{
    transition: background .2s;
}
#video_select select{
    font-family: 'Montserrat', sans-serif;
    outline: none;
    background: white;
    padding: 8px;
    border: none;
    color: var(--ink-black);
    width: 100%;
}
#video_select button{
    cursor: pointer;
    border: none;
    border-left: 1px solid rgba(0, 0, 0, .2);
    padding: 0 1em;
    background: white;
    color: black;
}
button:disabled, select:disabled{
    background: rgb(230, 230, 230) !important;
}

#video_select button:hover, #video_select select:hover{
    background: rgb(240, 240, 240);
}
#video_select button:active, #video_select select:active{
    background: white;
}

#video_section{
    background: black;
    overflow: hidden;
    position: relative;
}
#video_container{
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}
#video_container > *{
    position: absolute;
    width: 100%;
    height: 100%;
}

#hr_section{
    background-color: #e1d8ef;
    height: 256px;
    width: 90vw;
    cursor: pointer;
    font-size: .7rem;
}

#statistics{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#statistics > *:first-child{ margin-right: .5em; }
#statistics > *:last-child{ margin-left: .5em; }

#statistics > *{
    padding: 2em;
    background-color: var(--ina-orange);
    border-radius: 8px;
    width: 100%;
}
#statistics > * table{
    width: 100%;
}
table {
    font-size: 18px;
}
th{
    text-align: left;
    font-weight: 900;
    font-style: italic;
}
td{
    text-align: right;
}

.text_section{
    padding-top: 1em;
    background-color: var(--inai-purple);
    text-align: justify;
}
.text_section > div{
    padding: 2em;
    padding-top: 1em;
}
.text_section > div h1{
    margin-bottom: .5em;
}

#info ol{
    padding-inline-start: 24px;
    margin: 0;
}

#info li{
    font-weight: 900;
    font-style: italic;
    font-size: 18px;
    padding-top: 1em;
}

@media (max-width: 700px) {
    #statistics{
        flex-direction: column;
    }
    #statistics > * {
        margin: 0 !important;
        width: auto;
    }
    #statistics > *:first-child {
        margin-bottom: 1em !important;
    }
}

#credits{
    background: var(--ina-orange);
}
#credits table{
    width: 100%;
}
#credits td:nth-child(2){
    text-align: center;
}

div#video{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    user-select: none;
}

s{
    text-decoration-thickness: 100%;
    user-select: none;
}

/*  Test Overwrite  */
#video_section{
    margin-bottom: 0;
    border-radius: 8px 8px 0 0;
}

/* Footer */
#footer{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

#footer > span{
    padding: 0 .5em;
    opacity: 0.5;
    width: 0;
    white-space: pre;
}
#footer > span:first-of-type{
    direction: rtl;
}
#footer .icon {
    margin: 0 .2em;
}

/*  Icons  */
.icon{
    width: 1.5em; height: 1.5em;
    background: white;
    mask-size: cover;
    -webkit-mask-size: cover;
    transition: opacity .3s;
    cursor: pointer;
}
a.icon{
    opacity: 0.5;
}
a.icon:hover{
    opacity: 1.0;
}
.icon.youtube{
    mask-image: url('/assets/img/si/youtube.svg');
    -webkit-mask-image: url('/assets/img/si/youtube.svg');
}
.icon.twitter{
    mask-image: url('/assets/img/si/twitter.svg');
    -webkit-mask-image: url('/assets/img/si/twitter.svg');
}
.icon.github{
    mask-image: url('/assets/img/si/github.svg');
    -webkit-mask-image: url('/assets/img/si/github.svg');
}